body {
    font: 18px "Nunito", sans-serif;
    color: black;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        position: fixed;
        inset: 0;
        z-index: -1;
        pointer-events: none;
        background: url("/card exercise/back.jpg");
    }
}